.header-logo{
    height: 65px;
}
.brand {
    background-color: #ffffff;
}

.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-heading .menu-text,
.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-link .menu-text {
    color: #0f7dc2;
}

.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-active>.menu-heading .menu-text,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-active>.menu-link .menu-text {
    color: #0f7dc2;
}

.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-heading .menu-arrow,
.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-link .menu-arrow {
    color: #0f7dc2;
}

.aside-menu {
    background-color: #ffffff;
}

.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-heading,
.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-link {
    background-color: #ffffff;
}

.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-active>.menu-heading,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-active>.menu-link {
    background-color: #ffffff;
}

.aside {
    background-color: #ffffff;
}

.aside-menu .menu-nav>.menu-item>.menu-heading .menu-text,
.aside-menu .menu-nav>.menu-item>.menu-link .menu-text {
    color: #324d5b;
}

.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item>.menu-heading .menu-text,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item>.menu-link .menu-text {
    color: #324d5b;
}

.btn.btn-primary:hover:not(.btn-text):not(:disabled):not(.disabled),
.btn.btn-primary:focus:not(.btn-text),
.btn.btn-primary.focus:not(.btn-text) {
    color: #FFFFFF;
    background-color: #0f7dc2 !important;
    border-color: #187DE4;
}

.btn.btn-primary {
    color: #FFFFFF;
    background-color: #0f7dc2 !important;
    border-color: #0f7dc2;
}

.btn.btn-secondary {
    color: #ffffff;
    background-color: #324d5b;
    border-color: #324d5b;
}

.btn.btn-secondary:hover:not(.btn-text):not(:disabled):not(.disabled),
.btn.btn-secondary:focus:not(.btn-text),
.btn.btn-secondary.focus:not(.btn-text) {
    color: #ffffff;
    background-color: #324d5b;
    border-color: #324d5b;
}

.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-heading,
.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link {
    background-color: #0f7dc2;
}

.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-heading .menu-icon.svg-icon svg g [fill],
.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link .menu-icon.svg-icon svg g [fill] {
    transition: fill 0.3s ease;
    fill: #ffffff;
}

.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading,
.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link {
    background-color: #eef0f8;
}

.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading .menu-text,
.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link .menu-text {
    color: #324d5b;
}

.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading .menu-icon.svg-icon svg g [fill],
.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link .menu-icon.svg-icon svg g [fill] {
    transition: fill 0.3s ease;
    fill: #324d5b;
}

.btn.btn-success {
    color: #ffffff;
    background-color: #2d3e50;
    border-color: #2d3e50;
}

.btn.btn-success:hover:not(.btn-text):not(:disabled):not(.disabled),
.btn.btn-success:focus:not(.btn-text),
.btn.btn-success.focus:not(.btn-text) {
    color: #ffffff;
    background-color: #2d3e50;
    border-color: #2d3e50;
}

.nav.nav-pills .show>.nav-link,
.nav.nav-pills .nav-link.active {
    background-color: #0f7dc2;
}

.btn.btn-light-primary:hover:not(.btn-text):not(:disabled):not(.disabled),
.btn.btn-light-primary:focus:not(.btn-text),
.btn.btn-light-primary.focus:not(.btn-text) {
    background-color: #0f7dc2;
}

.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading .menu-arrow,
.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link .menu-arrow {
    color: #324d5b;
}

.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link {
    background-color: #eef0f8;
}

.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading .menu-text,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link .menu-text {
    color: #324d5b;
}

.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading .menu-bullet.menu-bullet-dot>span,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link .menu-bullet.menu-bullet-dot>span {
    background-color: #324d5b;
}

.badge-success {
    background-color: #0f7dc2;
}

.btn.btn-danger,
.btn.btn-danger:hover:not(.btn-text):not(:disabled):not(.disabled),
.btn.btn-danger:focus:not(.btn-text),
.btn.btn-danger.focus:not(.btn-text) {
    color: #ffffff;
    background-color: #0f7dc2;
    border-color: #0f7dc2;
}

.btn.btn-danger.btn-shadow,
.btn.btn-danger.btn-shadow:hover:not(.btn-text):not(:disabled):not(.disabled),
.btn.btn-danger.btn-shadow:focus:not(.btn-text),
.btn.btn-danger.btn-shadow.focus:not(.btn-text) {
    box-shadow: 0px 9px 16px 0px rgb(15 125 194 / 37%) !important;
}

.brand-logo {
    margin-top: 9px;
}

.brand .btn .svg-icon svg g [fill] {
    transition: fill 0.3s ease;
    fill: #324d5b;
}

.brand .btn.active .svg-icon svg g [fill],
.brand .btn:hover .svg-icon svg g [fill] {
    transition: fill 0.3s ease;
    fill: #0f7dc2;
}

.navi .navi-item .navi-link.active .navi-text {
    color: #0f7dc2;
}

.dark-sign-color {
    color: #324d5b !important;
}

.apply-details-inner {
    display: flex;
    font-size: 15px;
    align-items: center;
    margin-bottom: 5px;

}

.apply-details-inner i {
    color: #324d5b;
}

.personaltab-ul {
    border-bottom: 2px solid #eef0f8;
    margin-bottom: 30px;
}

.personaltab-ul li a {
    color: #b5b5c3 !important;
}

.personaltab-ul li a.active {
    background-color: transparent !important;
    color: #3f427a !important;
    border-bottom: 2px solid #0f7dc2;
    border-radius: 0;
}


.personaltab-ul li {
    margin-bottom: -1px;
}

.login-signin .form-control {
    border: 1px solid #cacbcf;
}

button.pass-icons {
    position: absolute;
    top: 7px;
    right: 12px;
    outline: none !important;
    background: none;
    border: 0;
    height: 22.94px;
}

.pass-icons.active .icon1 {
    display: none;
}

.pass-icons .icon2 {
    display: block;
}

.pass-icons .icon2 {
    display: none;
}

.pass-icons.active .icon2 {
    display: block;
}

.parent-address {
    text-overflow: ellipsis;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
}

.upload-photo-main .plus-sign-upload {
    background: #0f7dc2;
    color: #fff;
    padding: 4px;
    font-size: 11px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-right: 6px;
    text-align: center;
}

.upload-photo-main {
    height: 30px;
    max-width: 224px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}

.upload-photo-main span{
    white-space: nowrap;
}


.input-upload-cus {
    height: 30px;
    opacity: 0;
    position: relative;
    z-index: 99;
    max-width: 114px;
}

.address-title {
    width: 135px !important;
}

.stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, #ffc107 var(--percent), #d8d8d8 var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stars2 {

    font-size: 25px !important;

    margin-left: 0px;
}

.stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-family: Times;
    line-height: 1;
    font-size: 48px;
    margin-left: 10px;
}

.section-title-wrapper-star {
    margin-bottom: 30px !important;

}

#loadingDiv {
    top: 0px;
    right: 0px;
    width: 100%;
    height: 200px;
    background-color: transparent;
    background-image: url('/../uploads/loader.gif');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    opacity: 1;
}

@media only screen and (max-width:767px) {
    .personaltab-ul li a {
        padding: 0.75rem 9px !important;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .address-title {
        width: max-content !important;
    }
}

@media only screen and (min-width:1025px) {
    .address-title {
        width: 135px !important;
    }
}

@media only screen and (min-width:768px) {
    .greeting-text {
        text-align: right;
    }
}
@media only screen and (max-width: 992px) {
    #kt_header_mobile {
        background: #fff;
    }
}
